/* line 5, ../../../sass/sass/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
/* line 13, ../../../sass/sass/main.scss */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 19, ../../../sass/sass/main.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/* line 27, ../../../sass/sass/main.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */
}
/* line 31, ../../../sass/sass/main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* line 39, ../../../sass/sass/main.scss */
.heading {
  margin-bottom: 25px;
}

/* Custom page footer */
/* line 44, ../../../sass/sass/main.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* line 50, ../../../sass/sass/main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* line 54, ../../../sass/sass/main.scss */
#workspace .form-control, #workspace .btn {
  border: 1px none !important;
  box-shadow: none !important;
}

/* line 59, ../../../sass/sass/main.scss */
#workspace input:hover {
  border: 1px solid #cccccc !important;
}

/* line 63, ../../../sass/sass/main.scss */
#workspace input:focus {
  box-shadow: 0px 0px 5px blue !important;
}

/* Supporting marketing content */
/* line 68, ../../../sass/sass/main.scss */
.marketing {
  margin: 40px 0;
}
/* line 71, ../../../sass/sass/main.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* line 76, ../../../sass/sass/main.scss */
#LeftPane {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #333333;
  color: #dadada;
  padding-top: 15px;
}
/* line 85, ../../../sass/sass/main.scss */
#LeftPane h3 {
  padding: 0px 5px 10px 5px;
}
/* line 88, ../../../sass/sass/main.scss */
#LeftPane a {
  font-size: 12px;
  padding: 5px 10px;
  color: #dadada;
  border-radius: 0px;
  -webkit-transition: ease-out .25s;
  -moz-transition: ease-out .25s;
  -o-transition: ease-out .25s;
  transition: ease-out .25s;
}
/* line 98, ../../../sass/sass/main.scss */
#LeftPane a:hover {
  color: #666666;
}
/* line 101, ../../../sass/sass/main.scss */
#LeftPane .active a:hover, #LeftPane .active a {
  color: #333333;
}

/* line 107, ../../../sass/sass/main.scss */
#workspace .arch {
  padding: 3px 0px;
}
/* line 112, ../../../sass/sass/main.scss */
#workspace .case {
  margin-left: 50px;
}
/* line 115, ../../../sass/sass/main.scss */
#workspace .step {
  margin-left: 100px;
}
/* line 118, ../../../sass/sass/main.scss */
#workspace .input-group-addon {
  background-color: transparent;
  border: 1px none;
  color: #888888;
}
