$icon-font-path: "../fonts/";
// bower:scss
// endbower
// hi
.container {
  margin-left:0px;
  padding-left:0px;
}

.no-block {
  display:inline;
  width:auto;
}

/* Space out content a bit */
body, .MainBody, html, .container {
  min-height:100% !important;
  height:100% !important;
}

.heading {
  margin-bottom:25px;
  margin-top:15px;
  z-index:1001 !important;
}

.dropdown-menu {
  z-index:1001 !important;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  z-index:90 !important;
}

.leftPaneWrapper {
  height:100%;
}

#LeftPane {
  background-color:#333333;
  color:#dadada;
  padding-top:10px;
  height:100%;
  h3 {
    padding:0px 5px 10px 5px;
  }
  a {
    font-size:16px;
    padding:8px 8px;
    color:#dadada;
    border-radius:0px;
    -webkit-transition: ease-out .25s;
    -moz-transition: ease-out .25s;
    -o-transition: ease-out .25s;
    transition: ease-out .25s;
    cursor:pointer;
  }
  a:hover {
    color:#666666;
  }
  .active a:hover, .active a {
    color:#ffffff;
    background-color:#000000;
  }
  li {
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    transition: ease-out .5s;
  }
  li.active, li:hover {
    background-color:#111111;
  }

  li.active p, li:hover p {
    padding:5px 8px;
  }

  .on-hover {
    max-height:0px;
    overflow:hidden;
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    transition: ease-out .5s;
  }

  li:hover .on-hover, li.active .on-hover {
    max-height:200px;
  }
}

/* Position of row mujst be set in order to overcome dropdown z-index failing */
.row {
  position:relative;
}

.ng-scope {
  z-index:100 !important;
}

#workspace {
  position:relative;
  z-index:100 !important;

  .form-control, .btn {
  border:1px none !important;
  box-shadow:none !important;
  }
  input:hover {
  border:1px solid #cccccc !important;
  }
  input:focus {
  box-shadow:0px 0px 5px blue !important;
  }
  .arch {
    position:relative;
    padding:3px 0px;
  }
  .suite {
  }
  .case {
    margin-left:50px;
  }
  .step {
    margin-left:100px;
  }
  .onlyHover {
    width:0px;
    overflow:hidden;
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    transition: ease-out .5s;
  }
  .input-group-addon {
    background-color:transparent;
    border:1px none;
    color:#cccccc !important;
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    transition: ease-out .5s;
    .glyphicon {
      cursor:pointer;
    }
    .glyphicon:hover {
      color:#000000 !important;
    }
  }
  .arch:hover .input-group-addon {
    background-color:#dadada;
    color:#44444444 !important;
    .onlyHover {
      width:auto;
      margin-left:8px;
    }
  }
}

<<<<<<< HEAD
=======
#fountainG{
position:relative;
width:124px;
height:15px}

.fountainG{
position:absolute;
top:0;
background-color:#8DC63F;
width:15px;
height:15px;
-moz-animation-name:bounce_fountainG;
-moz-animation-duration:1.6s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-moz-border-radius:10px;
-webkit-animation-name:bounce_fountainG;
-webkit-animation-duration:1.6s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-webkit-border-radius:10px;
-ms-animation-name:bounce_fountainG;
-ms-animation-duration:1.6s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.3);
-ms-border-radius:10px;
-o-animation-name:bounce_fountainG;
-o-animation-duration:1.6s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.3);
-o-border-radius:10px;
animation-name:bounce_fountainG;
animation-duration:1.6s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:10px;
}

#fountainG_1{
left:0;
-moz-animation-delay:0.64s;
-webkit-animation-delay:0.64s;
-ms-animation-delay:0.64s;
-o-animation-delay:0.64s;
animation-delay:0.64s;
}

#fountainG_2{
left:16px;
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

#fountainG_3{
left:31px;
-moz-animation-delay:0.96s;
-webkit-animation-delay:0.96s;
-ms-animation-delay:0.96s;
-o-animation-delay:0.96s;
animation-delay:0.96s;
}

#fountainG_4{
left:47px;
-moz-animation-delay:1.12s;
-webkit-animation-delay:1.12s;
-ms-animation-delay:1.12s;
-o-animation-delay:1.12s;
animation-delay:1.12s;
}

#fountainG_5{
left:62px;
-moz-animation-delay:1.28s;
-webkit-animation-delay:1.28s;
-ms-animation-delay:1.28s;
-o-animation-delay:1.28s;
animation-delay:1.28s;
}

#fountainG_6{
left:78px;
-moz-animation-delay:1.44s;
-webkit-animation-delay:1.44s;
-ms-animation-delay:1.44s;
-o-animation-delay:1.44s;
animation-delay:1.44s;
}

#fountainG_7{
left:93px;
-moz-animation-delay:1.6s;
-webkit-animation-delay:1.6s;
-ms-animation-delay:1.6s;
-o-animation-delay:1.6s;
animation-delay:1.6s;
}

#fountainG_8{
left:109px;
-moz-animation-delay:1.76s;
-webkit-animation-delay:1.76s;
-ms-animation-delay:1.76s;
-o-animation-delay:1.76s;
animation-delay:1.76s;
}

@-moz-keyframes bounce_fountainG{
0%{
-moz-transform:scale(1);
background-color:#8DC63F;
}

100%{
-moz-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_fountainG{
0%{
-webkit-transform:scale(1);
background-color:#8DC63F;
}

100%{
-webkit-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_fountainG{
0%{
-ms-transform:scale(1);
background-color:#8DC63F;
}

100%{
-ms-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_fountainG{
0%{
-o-transform:scale(1);
background-color:#8DC63F;
}

100%{
-o-transform:scale(.3);
background-color:#FFFFFF;
}

}

@keyframes bounce_fountainG{
0%{
transform:scale(1);
background-color:#8DC63F;
}

100%{
transform:scale(.3);
background-color:#FFFFFF;
}

}

>>>>>>> 77d5f63af9391539a68dc650e80add4af59a690b
.green {
  color:#5CB85C;
}

.red {
  color:#D9534F;
}