$icon-font-path: "../fonts/";
// bower:scss
// endbower
// hi
.container {
  margin-left:0px;
  padding-left:0px;
}

.no-block {
  display:inline;
  width:auto;
}

/* Space out content a bit */
body, .MainBody, html, .container {
  min-height:100% !important;
  height:100% !important;
}

.heading {
  margin-bottom:25px;
  margin-top:15px;
  z-index:1001 !important;
}

.dropdown-menu {
  z-index:1001 !important;
}

.dropdown-menu li a {
  cursor:pointer;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  z-index:90 !important;
}

.leftPaneWrapper {
  height:100%;
}

#LeftPane {
  background-color:#333333;
  color:#dadada;
  padding-top:10px;
  height:100%;
  h3 {
    padding:0px 5px 10px 5px;
  }
  a {
    font-size:16px;
    padding:8px 8px;
    color:#dadada;
    border-radius:0px;
    -webkit-transition: ease-out .25s;
    -moz-transition: ease-out .25s;
    -o-transition: ease-out .25s;
    transition: ease-out .25s;
    cursor:pointer;
  }
  a:hover {
    color:#666666;
  }
  .active a:hover, .active a {
    color:#ffffff;
    background-color:#000000;
  }
  li {
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    transition: ease-out .5s;
  }
  li.active, li:hover {
    background-color:#111111;
  }

  li.active p, li:hover p {
    padding:5px 8px;
  }

  .label {
    margin-right:5px;
  }

  .on-hover {
    max-height:0px;
    overflow:hidden;
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    transition: ease-out .5s;
  }

  li:hover .on-hover, li.active .on-hover {
    max-height:200px;
  }
}

/* Position of row mujst be set in order to overcome dropdown z-index failing */
.row {
  position:relative;
}

.ng-scope {
  z-index:100 !important;
}

#workspace {
  position:relative;
  z-index:100 !important;

  .form-control, .btn {
  border:1px none !important;
  box-shadow:none !important;
  }
  input:hover {
  border:1px solid #cccccc !important;
  }
  input:focus {
  box-shadow:0px 0px 5px blue !important;
  }
  .arch {
    position:relative;
    padding:3px 0px;
  }
  .suite {
  }
  .case {
    margin-left:50px;
  }
  .step {
    margin-left:100px;
  }
  .onlyHover {
    width:0px;
    overflow:hidden;
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    transition: ease-out .5s;
  }

  .input-group-addon {
    background-color:transparent;
    border:1px none;
    color:#cccccc !important;
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    transition: ease-out .5s;

    .glyphicon {
      cursor:pointer;
    }
    .glyphicon:hover {
      color:#000000 !important;
    }
  }
  .arch:hover .input-group-addon {
    background-color:#dadada;
    color:#44444444 !important;
    .onlyHover {
      width:auto;
      margin-left:8px;
    }
  }
}

.green {
  color:#5CB85C;
}

.red {
  color:#D9534F;
}