<div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="{{ newSuite.type }} arch suite-master fadeInUp animated">
            <div class="input-group input-group{{ newSuite.size }}">
              <span class="input-group-addon">
                <span>
                  <strong>ID: </strong> TestSuite{{newSuite.id}}
                </span>
              </span>
              <input type="text" id="s{{ newSuite.id }}" e-type="suite" entry="-1" class="form-control tf-proc-control edit-title" ng-model="newSuite.name" tf-processkey="edit-title" placeholder="Type new suite name here...">
            </div><!-- /input-group -->
          </div>
        </div>
      </div>
    </div>
</div>