<html>
<link rel="stylesheet" href="theme/css/login.css">
<body background="bamboo.jpg">
</body>
</html>
<section class="login">
	<div class="title">Login</div>
	<form action="#" method="post" enctype="app/login">
    	<input type="text" required title="Username required" placeholder="Username" data-icon="U">
        <input type="password" required title="Password required" placeholder="Password" data-icon="x">
        <div class="forget">
        	<div class="col"><a href="#" title="See Characters">Register</a></div>
            <div class="col"><a href="#" title="Recover Password">Forgot Password?</a></div>
        </div>
        <a href="#" class="send">Submit</a>
    </form>
</section>